/* ALL PAGES */

/* Smooth Scrolling when clicked @ https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
/* THIS DOESN'T WORK ON GOOGLE CHROME */
html {
  scroll-behavior: smooth;
}



/* Center the links @ https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element */
/* using display:flex; so text doesn't get distorted when screen shrunk */
#promotional-links {
  padding: 50px;
  display: flex;
  justify-content: center;
}


/* Bottom LOGOS */
/* Center the images @ https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element */
/* FLEX-WRAP for responsive layout @ https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
#bottom-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.ufotable-dining-logo {
  padding: 10px;
}

.ufotable-cafe-logo {
  padding: 10px;
}

.ufotable-cinema-logo {
  padding: 10px;
}





/* Center the links @ https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element */
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#footer-font {
  font-size: 16px;
  display: flex;
}


/* link style */
a {
  font-size: 20px;
  font-family: Lucida, sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}

/* CHANGE COLOUR ON HOVER @ https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
a:hover {
  text-decoration: solid underline #ffffff 2px;
}


/* info like FAQ, return to the top, site policy, etc */
.bottom-info {
  color: #ffffff;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* theatrical.html & television.html */
/* object-fit: cover; to crop images to same size @ https://www.w3schools.com/css/css3_object-fit.asp */
#crop {
  max-width: 100%;
  height: 395px;
  object-fit: cover;
}


.container-year {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
}



/* TELEVISION.HTML */
/* Responsive layout with Flex-wrap: wrap; @ https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
.television-posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-top: 100px;
}

.television-images {
  padding-left: 20px;
  padding-bottom: 100px;
}




/* THEATRICAL.HTML */
/* Responsive layout with Flex-wrap: wrap; @ https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
.theatrical-posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding-top: 100px;
}

.theatrical-images {
  padding-left: 20px;
  padding-bottom: 100px;
}




/* RESPONSIVE VIDEOS */
iframe {
  max-width: 100%;
  max-height: 100%;
}

/* DEMO 08 - RESPONSIVE WEB DESIGN ON CANVAS */
/* centering the website and adding auto adjusting margins */
body {
  max-width: 1400px; /* SHOULD ADJUST THIS FOR NAV BAR */
  margin: auto;
  background-color: #000000;
}

h1 {
  font-size: 20px;
  font-family: Lucida, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

h2 {
  color: #ffffff;
  text-decoration: none;
  font-family: Lucida, sans-serif;
}

p {
  color: #ffffff;
  text-decoration: none;
  font-family: Lucida, sans-serif;
}




/* INDEX.HTML PAGE */
/* Promotional carosel on index.html @ https://flickity.metafizzy.co */
.main-carousel {
  background: #000000;
  max-width: 1400px;
}

.carousel-cell {
  width: 100%;
  height: auto;
  margin: auto;
  background: black;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* Large posters on index.html */
.large-demon-season2-poster {
  display: flex;
}

/* Align Demon Slayer Mugen poster to right */
.large-mugen-poster {
  display: flex;
}

.large-fate-poster {
  display: flex;
}

.large-posters {
  flex-wrap: wrap;
  padding-top: 100px;
  z-index: 5;
}

#ds-season2 {
  padding-top: 100px;
  padding-bottom: 300px;
}

#mugen-train {
  padding-top: 100px;
  padding-bottom: 300px;
}

#fate-hf {
  padding-top: 100px;
  padding-bottom: 300px;
}

/* To eliminate the horizontal scroll @ https://www.w3schools.com/cssref/css3_pr_word-wrap.asp */
/* Text placed beside large posters on index.html */
strong {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  font-family: Lucida, sans-serif;
  font-size: 50px;
  text-align: left;
  word-wrap: break-word;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}



/* BLURRED Posters @ https://www.w3schools.com/howto/howto_css_blurred_background.asp */
/* reflect the posters @ https://www.w3schools.com/howto/howto_css_flip_image.asp */
.blurred-posters {
  filter: blur(11px);
  -webkit-filter: blur(11 px);
  opacity: 70%;
  transform: scaleX(-1);
  float;
}

/* (float:right) bc image is reversed on x axis in .blurred-posters */
.blurred-demon-season2-poster {
  z-index: -10;
}


/* CONTINUE WORKING ON IT > NEED RESPONSIVE MENU TO SHOW UP WHEN SHRUNK */
/* ADD A BREAK POINT */
/* Responsive navbar @ https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */
@media screen and (max-width: 1190px) {
  .navbar li:not(:first-child) {display: none;}
  .navbar li.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 1190px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.navbar .icon {
  display: none;
}




/* NAVIGATION BAR */
/* <nav> @ https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
/* Dropdown Navigation Bar @ https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
/* IMPORTANT: need to put top:0; to get position:sticky; to work */
/* making a transparent nav background @ https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Make_box_transparent */
/* DEMO from Professor Ali Qadeer */

/* FIX HEADER + #COVID-NOTICE BC IT WON'T STICKY WELL */
header {
  background: #ffffff;
  display: flex;
  justify-content: center;
  top: 0;
  position:-webkit-sticky;
  position: sticky;
  z-index: 100;
  max-width: 100%;
}

#covid-notice {
  font-size: 16px;
  font-family: Lucida, sans-serif;
  color: red;
  text-decoration: none;
  padding: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MUST use display:flex; to center logos, icons, and text */
nav li {
  float: left;
  list-style-type: none;
  height: 50px;
  display: flex;
  align-items: center;
}

.dropbtn {
  font-size: 16px;
  font-family: Lucida, sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 14px;
  background: none;
  border: none;
}

.dropbtn:hover {
  background: #1f1f1f;
  height: 100%;
  text-decoration: solid underline #ffffff 2px;
}

/* Navbar container */
/* justify-content @ https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
.navbar {
  background-color: rgba(0,0,0,0.9);
  font-family: Lucida, sans-serif;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Add a red background color to navbar links on hover */
.navbar li:hover, .dropdown:hover .dropbtn {
  background-color: #1f1f1f;
  text-decoration: solid underline #ffffff 2px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-project {
  float: left;
  overflow: hidden;
  padding: 0;
}

.dropdown-project:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
