/* NEED TO FIX OVERLAP OF NAV BAR WHEN SHRUNK */
/* THE ENTIRE NAV BAR */
#top-navigation-bar {
  background: red;
  padding: 15px;
}

/* STICKY NAVBAR @ https://www.w3schools.com/howto/howto_css_sticky_element.asp */
.navigation-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* ADD A BREAK POINT */


/* RESPONSIVE TOP NAVIGATION BAR */
/* ADD TRANSPARENT BLACK BACKGROUND */
/* THE INDIVIDUAL TEXT ON NAV BAR */
a {
  background: blue;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}

/* CHANGE COLOUR ON HOVER @ https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
a:hover {
  color: #000000;
  background: #ffffff;
}

/* info like FAQ, return to the top, site policy, etc */
.bottom-info {
  color: #ffffff;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}
/* RESPONSIVE VIDEOS */
iframe {
  max-width: 100%;
  max-height: 100%;
}

/* DEMO 08 - RESPONSIVE WEB DESIGN ON CANVAS */
/* centering the website and adding auto adjusting margins */
body {
  max-width: 1400px; /* SHOULD ADJUST THIS FOR NAV BAR */
  margin: auto;
}

h1 {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

/* WORKS.HTML PAGE */
/* flexbox axes for images in row or column @ https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
.row-1-theatrical {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.row-2-theatrical {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.row-3-theatrical {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.row-4-theatrical {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.row-5-theatrical {
  display: flex;
  flex-direction: row;
  padding: 40px;
}



/* Promotional carosel @ https://flickity.metafizzy.co */
.main-carousel {
  background: #000000;
}

.carousel-cell {
  width: 100%;
  height: auto;
  margin: auto;
  background: black;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
