/* ALL PAGES */

/* Smooth Scrolling when clicked @ https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 */
/* THIS DOESN'T WORK ON GOOGLE CHROME */
html {
  scroll-behavior: smooth;
}



/* NEED TO FIX OVERLAP OF NAV BAR WHEN SHRUNK */
/* THE ENTIRE NAV BAR */
/* STICKY NAVBAR @ https://www.w3schools.com/howto/howto_css_sticky_element.asp */
#top-navigation-bar {
  background: blue;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 10px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  display: inline-block;
  overflow: hidden
}

/* Center the links @ https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element */
#promotional-links {
  padding: 50px;
  display: flex;
  justify-content: center;
}

/* Bottom LOGOS */
/* Center the images @ https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element */
#bottom-logos {
  padding: 10px;
  display: flex;
  float: left;
  justify-content: center;
}

/* CSS Lists @ https://www.w3schools.com/css/css_list.asp */
/* Help creating dropdown navigation @ https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu */
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

li {
  list-style-type: none;
  margin: auto;
  padding: 0;
  float: left;
}

/* Center the links @ https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Center_an_element */
footer {
  padding: 10px;
  display: flex;
  float: left;
  justify-content: center;
}

#footer-font {
  font-size: 16px;
  padding: 40px;
  display: flex;
  float: left;
  justify-content: center;
}

/* ADD A BREAK POINT */
@media (max-width: 800px) {

}

/* RESPONSIVE TOP NAVIGATION BAR */
/* ADD TRANSPARENT BLACK BACKGROUND */
/* THE INDIVIDUAL TEXT ON NAV BAR */
a {
  font-size: 20px;
  font-family: Tahoma, sans-serif;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}

/* CHANGE COLOUR ON HOVER @ https://www.w3schools.com/howto/howto_js_navbar_sticky.asp */
a:hover {
  text-decoration: underline;
}

/* info like FAQ, return to the top, site policy, etc */
.bottom-info {
  color: #ffffff;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

.television-images {
  float: left;
}

.theatrical-images {
  float: left;
}

.bottom-logos {
  display: inline-block;
}

/* RESPONSIVE VIDEOS */
iframe {
  max-width: 100%;
  max-height: 100%;
}

/* DEMO 08 - RESPONSIVE WEB DESIGN ON CANVAS */
/* centering the website and adding auto adjusting margins */
body {
  max-width: 1400px; /* SHOULD ADJUST THIS FOR NAV BAR */
  margin: auto;
  background-color: #000000;
}

h1 {
  font-size: 20px;
  font-family: Tahoma, sans-serif;
  color: #ffffff;
  text-decoration: none;
}

h2 {
  color: #ffffff;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}

p {
  color: #ffffff;
  text-decoration: none;
  font-family: Tahoma, sans-serif;
}




/* INDEX.HTML PAGE */
/* Promotional carosel on index.html @ https://flickity.metafizzy.co */
.main-carousel {
  background: #000000;
}

.carousel-cell {
  width: 100%;
  height: auto;
  margin: auto;
  background: black;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* Large posters on index.html */
/* Align Demon Slayer Season 2 poster to right */
.large-mugen-poster {
  float: left;
}

.large-demon-season2-poster {
  float: right;
}

.large-fate-poster {
  float: left;
}

.large-posters {
  z-index: 5;
}

/* BLURRED Posters @ https://www.w3schools.com/howto/howto_css_blurred_background.asp */
/* reflect the posters @ https://www.w3schools.com/howto/howto_css_flip_image.asp */
.blurred-posters {
  filter: blur(11px);
  -webkit-filter: blur(11 px);
  opacity: 70%;
  transform: scaleX(-1);
  float;
}

/* (float:right) bc image is reversed on x axis in .blurred-posters */
.blurred-demon-season2-poster {
  float: right;
}
